/* General styles*/
a {
    font-size: 15px;
}

.gs-full-width {
    float: left;
    width: 100%;
}
.gs-col-6 {
    width: 50%;
    float: left;
}

aside.widget_geo_map_ss4u_widget {
    float: left
}

#map-canvas {
    float: left;
    width: 100%;
    height: 300px;
}

/* Input field style starts here*/
#autocomplete.alert {
    border-color: #a94442;
}

#autocomplete.alert::-webkit-input-placeholder {
    color: #FFABB8;
}
#autocomplete.alert:-moz-placeholder {
    color: #FFABB8;
    opacity: 1;
}

#autocomplete.alert::-moz-placeholder {
    color: #FFABB8;
    opacity: 1;
}

#autocomplete.alert:-ms-input-placeholder {
    color: #FFABB8;
}
/* Input field style ends here*/

/* Chosen dropdown style starts here.*/
#gs-fields-block p {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    float: left;
}

#gs-radius-block {
    margin: 10px 0;
    position: relative;
}

#radius-level {
    width: 100px;
    padding: 8px;
    float: left;
}

#radius_level_chosen {
    float: left;
    margin-right: 5px;
}

#gs-radius-block #radius_level_chosen a {
    line-height: inherit;
    height: auto;
    padding: 6px;
}

div#gs-radius-block #radius_level_chosen .chosen-single div b {
    background-position-y: 8px;
}

#radius_level_chosen .chosen-results li:before {
    content: '';
}

#radius_level_chosen .chosen-results li {
    margin: 0;
}
/* Chosen dropdown style ends here.*/

/* Search types radio styles*/
#gs-place-types {
    float: left;
    width: 100%;
}

#paraText {
    float: left;
    width: 100%;
}

#gs-content ul {
    list-style-type: none;
    width: 100%;
    float: left;
}

#gs-place-types .options:before {
    content: '';
}

#searchPlacesFrm li.options {
    float: left;
    width: 100%;
    margin-bottom: 0;
}

#gs-place-types input {
    float: left;
    margin-top: 6px;
}

#gs-place-types .gs-place-type {
    float: left;
    margin-top: 0;
    position: relative;
    width: 90%;
}

button#searchbutton {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Search results style starts here */
#gs-nearby-results {
    float: left;
    width: 100%;
    margin-top: 15px;
    position: relative;
}

#title {
    margin-bottom: 26px;
}

#gs-nearby-results-cont {
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    min-height: 50px;
    max-height: 250px;
}

#gs-nearby-results #gs-nearby-list {
    padding-left: 0;
    background: rgba(206, 206, 206, 0.31);
    margin: 0;
}

#gs-nearby-list h3 {
    padding-left: 10px;
    cursor: pointer;
}

#gs-nearby-list #train_station:before,
#gs-nearby-list #bank:before,
#gs-nearby-list #hospital:before,
#gs-nearby-list #bus_station:before {
    width: 14px;
    height: 20px;
    float: left;
    content: '';
}

#gs-nearby-results li {
    border-bottom: 1px solid #E4E0E0;
    width: 100%;
    margin-bottom: 0;
    margin-top: 8px;
    padding: 0 10px;
}

.address_list {
    position: relative;
    float: left;
}

li.address_list p {
    padding-left: 20px;
}

#gs-content .train_station:before,
#gs-content .bank:before,
#gs-content .hospital:before,
#gs-content .bus_station:before {
    width: 15px;
    height: 20px;
    margin-right: 6px;
    float: left;
    content: '';
}

.train_station:before {
    background: url("../images/train_marker.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 0 5px;
    position: relative;
}

.bank:before {
    background: url("../images/bank_marker.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 0 5px;
    position: relative;
}

.hospital:before {
    background: url("../images/hospital_marker.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 0 5px;
    position: relative;
}

.bus_station:before {
    background: url("../images/bus_marker.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 0 5px;
    position: relative;
}

.scroll {
    display: none;
    font-style: italic;
    position: relative;
    width: 100%;
    text-align: center;
    color: #2E0AA2;
    font-size: 16px;
}

#gs-scroll-down {
    float: right;
    width: 100%;
}
/* Search results style ends here */
